.create-form {
  margin-top: 24px;
  display: none;
}

.jumbotron.new-group-form {
  padding: 20px;
}

.close-btn {
  margin-left: calc(50% - 26px);
  margin-bottom: 12px;
}

.close-btn-container {
  margin-top: -24px;
  width: 100%;
  cursor: pointer;
}

.custom-fields-pair {
  margin-bottom: -20px;
}

.custom-fields-pair .glyphicon-remove {
  top: -40px;
  right: 10px;
  opacity: 0.6;
}

.glyphicon-remove {
  cursor: pointer;
}

.driver-submit-error {
  margin-top: 20px;
  display: none;
}