.create-form {
  margin-top: 24px;
  display: none;
}

.jumbotron.new-group-form {
  padding: 20px;
}

.close-btn {
  margin-left: calc(50% - 26px);
  margin-bottom: 12px;
}

.close-btn-container {
  margin-top: -24px;
  width: 100%;
  cursor: pointer;
}